<!DOCTYPE html> 
<html lang="en">

<head>
    <title>Prime Numbers</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="container">
        <h2>Find Prime Numbers</h2>
        <form action="/prime" method="POST">
            <label>Enter First Number:</label>
            <input type="number" name="num1" required>
            <label>Enter Second Number:</label>
            <input type="number" name="num2" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
